<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add  verb="*" path="*.ImgAsync" name="SearchImageAsync" type="TestWeb.SearchImageAsync" />
    </handlers>
  </system.webServer>
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <add verb="*" path="*.ImgAsync" type="TestWeb.SearchImageAsync"/>
    </httpHandlers>
    <httpModules>
      <add name="AsyncRequestLogModule" type="TestWeb.AsyncRequestLogModule"/>
    </httpModules>
  </system.web>
</configuration>
